@import "@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: local('Poppins');
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
  }

  body {
    /* font-family: 'Gilroy', Arial, "Helvetica Neue", sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    overflow-x: scroll; /* scroll allow but hide scrollbar */
    scrollbar-width: none; /* Firefox ke liye */
    -ms-overflow-style: none; /* IE/Edge ke liye */
  }
  
  
  .container::-webkit-scrollbar {
    display: none; /* Chrome/Safari ke liye */
  }

  .filterBtn{
      padding: 4px 8px;
      border: 1px solid rgba(0, 0, 0, 0.17);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.197);
      border-radius: 20px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.774);
      font-weight: 500;
      
  }
  .searchBtn{
      padding: 4px 8px;
      border: 1px solid rgba(0, 0, 0, 0.17);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.197);
      border-radius: 20px;
      font-size: 14px;
     
      font-weight: 500;
      
  }
  .active{
    background-color: rgba(238, 229, 240, 0.968);
    border:1px solid black;

  }
  .loader {
    width: 70px;
    height: 70px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    .animate{
      animation-name: shimmer;
      background-image: linear-gradient(to right , #ffffff, #fcfcfc, #f8f8f8c1, #f5f5f5cd, #f2f2f2c7);
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      animation-timing-function: ease-in-out;
      transform-origin: center;

      background-size: cover;
    }
    @keyframes shimmer {
        from{
          background-position: 1000px;
          

        }
        to{
          background-position: -1000px ;
          
        }
      
    }